<% provide(:title, "About") %>
<h1>About</h1>
<p>
  I am currently trying to learn Chinese and have built this website to help both myself and hopefully some others along the way. While there are lots of websites out there that are much more advanced I think they are still lacking some basic functionality which personally I would find very helpful. 
</p>
