
<tr>
  <td><%= word.chinese  %></td>
  <td><%= word.pinyin  %></td>
  <td><%= word.translation %></td>
  <td><%= link_to 'Destroy' ,[word.list,word],method: :delete, data: {confirm: 'Are you sure?' } %></td>
</tr>
