<footer class="footer">
  <small>
    The Chinese Vocabulary Trainer
    by Jonathan Cummins
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Some Motivation", beauty_path %></li>
    </ul>
  </nav>
</footer>
